{% extends 'base.html'%}
{% load static %}

{% block content %}


   <section class=" text-center text-lg-start">
    <div class="card mb-3">
      {% include 'includes/alerts.html' %}
      <div class="row g-0 d-flex align-items-center">
        <div class="col-lg-4 d-none d-lg-flex">
          <img src="{% static 'images/items/w2.jpg' %}" alt="Trendy Watches"
            class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" />
        </div>
        <div class="col-lg-8">
          <div class="card-body py-5 px-md-5">
            <form action = " {% url 'forgot_password' %}" method = "POST">
              <!-- Email input -->
              {% csrf_token %}
              <div class="form-outline mb-4">
                {% include 'includes/alerts.html' %}
            	<span>Phonenumber*</span>
					 <input type="text" id ="phone_number" name="phone_number" class="form-control form-control-lg" required=""> 
				</div>
				<br>
				<input type ="Submit" class = "btn btn-success " value = "Send OTP">
				
				<input type ="Submit" class = "btn btn-success " value = "Cancel">
              <!-- Password input -->
              <!-- 2 column grid layout for inline styling -->
              <div class="row mb-4">
                <div class="col d-flex justify-content-center">
                  <!-- Checkbox -->
                  <div class="text-center">
                    <br>
                    <p>Not a member? <a href="{% url 'signup' %}">Register</a></p>
                    <p>Got password? <a href="{% url 'signin' %}">login</a></p>
                    <br>
                  </div>
                </div>
                
              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mb-4">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
 {% endblock %}	
