{% extends 'base.html'%}
{% load static %}

{% block content %}
   <section class=" text-center text-lg-start">
    <div class="card mb-3">
      <div class="row g-0 d-flex align-items-center">
        <div class="col-lg-4 d-none d-lg-flex">
          <img src="{% static 'images/items/w2.jpg' %}" alt="Trendy Watches"
            class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" />
        </div>
        <div class="col-lg-8">
          <div class="card-body py-5 px-md-5">
  
            <form action = " {% url 'reset_password' %}" method = "POST">
              <!-- Email input -->
              {% csrf_token %}
              <div class="form-outline mb-4">
                {% include 'includes/alerts.html' %}
                <label class="form-label" for="form2Example1">New-password</label>
                <input type="password" id="password" class="form-control" placeholder = "Password" name = "password" >
              </div>
  
              <!-- Password input -->
              <div class="form-outline mb-4">
               
                <label class="form-label" for="form2Example2">Confirm Password</label>
                <input type="password" id="password" class="form-control" placeholder = "Confirm Password" name = "confirm_password" >
              </div>
  
              <!-- 2 column grid layout for inline styling -->
              <div class="row mb-4">
                <div class="col d-flex justify-content-center">
                  <!-- Checkbox -->
                  <div class="text-center">
                    <p>Not a member? <a href="{% url 'signup' %}">Register</a></p>
                  </div>
                </div>
  
  
              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mb-4">Reset Password</button>
  
            </form>
  
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}	
