{% load static %}
<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top">
  <div class="container">
    <section class="footer-bottom border-top row text-center text-md-left">
      <div class="col-md-3 mb-3 mb-md-0">
        <p class="text-muted"> &copy 2023 MaxTick Watches. </p>
      </div>
      <div class="col-md-7 mb-3 mb-md-0">
        <span class="px-2 d-block d-md-inline">info@maxtick.io</span>
        <span class="px-2 d-block d-md-inline">+91-99999-55555</span>
        <span class="px-2 d-block d-md-inline">Edappally-Kochi, Kerala</span>
      </div>
      <div class="col-md-2 text-md-right">
        <i class="fab fa-lg fa-cc-visa px-1"></i>
        <i class="fab fa-lg fa-cc-paypal px-1"></i>
        <i class="fab fa-lg fa-cc-mastercard px-1"></i>
      </div>
    </section>
  </div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->
{% comment %} <script src="{% static 'https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js' %}"></script> {% endcomment %}
<script>
  $(document).ready(function(){
    $('.thumb a').click(function(e){
      e.preventDefault();
      $('.mainImage img').attr('src', $(this).attr("href"));
    })
  })
</script>

</body>
</html>

