{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- ========================= SECTION MAIN ========================= -->
<section class="section-intro padding-y-sm">
    <div class="container">
        <div class="intro-banner-wrap">
            <img src="https://www.titan.co.in/wps/wcm/connect/titanrt/fb2e8cc7-2df6-4a7b-9d24-58aaef4b82d0/desktop/TD_Newarrival_060723.jpg?MOD=AJPERES&amp;CACHEID=ROOTWORKSPACE.Z18_90IA1H80OGR2D068O7K5LN3O26-fb2e8cc7-2df6-4a7b-9d24-58aaef4b82d0-desktop-oAI51pQ" class="img-fluid rounded" alt="Banner Image">
        </div>
    </div>
</section>
<!-- ========================= SECTION MAIN END// ========================= -->

<!-- ========================= SECTION ========================= -->
<section class="section-name padding-y-sm">
    <div class="container">
        <header class="section-heading">
            <a href="{% url 'store' %}" class="btn btn-outline-primary float-right">See all</a>
            <h3 class="section-title">Popular products</h3>
        </header><!-- sect-heading -->

        <div class="row">
            <div class="col-md-3 col-sm-6 col-12">
                <div class="card card-product-grid">
                    <a href="{% url 'store' %}" class="img-wrap"> <img src="https://staticimg.titan.co.in/Titan/Banners/home/fourTile/Raga_under_9k_D.jpg" class="img-fluid"> </a>
                    <figcaption class="info-wrap">
                        <a href="{% url 'store' %}" class="title">Watch Collections</a>
                    </figcaption>
                </div>
            </div> <!-- col.// -->
            <div class="col-md-3 col-sm-6 col-12">
                <div class="card card-product-grid">
                    <a href="{% url 'store' %}" class="img-wrap"> <img src="https://staticimg.titan.co.in/Titan/Banners/home/fourTile/Steer_watches.jpg" class="img-fluid"> </a>
                    <figcaption class="info-wrap">
                        <a href="{% url 'store' %}" class="title">Watch Collections</a>
                    </figcaption>
                </div>
            </div> <!-- col.// -->
            <div class="col-md-3 col-sm-6 col-12">
                <div class="card card-product-grid">
                    <a href="{% url 'store' %}" class="img-wrap"> <img src="https://staticimg.titan.co.in/Titan/Banners/home/fourTile/Xylys_300623_D.jpg" class="img-fluid"> </a>
                    <figcaption class="info-wrap">
                        <a href="{% url 'store' %}" class="title">Watch Collections</a>
                    </figcaption>
                </div>
            </div> <!-- col.// -->
            <div class="col-md-3 col-sm-6 col-12">
                <div class="card card-product-grid">
                    <a href="{% url 'store' %}" class="img-wrap"> <img src="{% static 'images/banners/img2.webp' %}" class="img-fluid"> </a>
                    <figcaption class="info-wrap">
                        <a href="{% url 'store' %}" class="title">Watch Collections</a>
                    </figcaption>
                </div>
            </div> <!-- col.// -->
        </div>
    </div><!-- container // -->
</section>
<!-- ========================= SECTION END// ========================= -->

<section class="section-name padding-y-sm">
    <div class="container">
        <header class="section-heading">
            <a href="{% url 'store' %}" class="btn btn-outline-primary float-right">See all</a>
            <h3 class="section-title">Popular Brands</h3>
        </header><!-- sect-heading -->

        <div class="row">
            <div class="col-md-3 col-sm-6 col-12">
                <div class="card card-product-grid">
                    <a href="{% url 'store' %}" class="img-wrap"> <img src="{% static 'images/icons/titanlogo.jpg' %}" class="img-fluid"> </a>
                    <figcaption class="info-wrap">
                        <a href="{% url 'store' %}" class="title">Titan</a>
                    </figcaption>
                </div>
            </div> <!-- col.// -->
            <div class="col-md-3 col-sm-6 col-12">
                <div class="card card-product-grid">
                    <a href="{% url 'store' %}" class="img-wrap"> <img src="{% static 'images/items/rado13.png' %}" class="img-fluid"> </a>
                    <figcaption class="info-wrap">
                        <a href="{% url 'store' %}" class="title">Rado</a>
                    </figcaption>
                </div>
            </div> <!-- col.// -->
            <div class="col-md-3 col-sm-6 col-12">
                <div class="card card-product-grid">
                    <a href="{% url 'store' %}" class="img-wrap"> <img src="{% static 'images/icons/nvfclogo.jpeg' %}" class="img-fluid"> </a>
                    <figcaption class="info-wrap">
                        <a href="{% url 'store' %}" class="title">NaviForce</a>
                    </figcaption>
                </div>
            </div> <!-- col.// -->
            <div class="col-md-3 col-sm-6 col-12">
                <div class="card card-product-grid">
                    <a href="{% url 'store' %}" class="img-wrap"> <img src="{% static 'images/timexlogo.png' %}" class="img-fluid"> </a>
                    <figcaption class="info-wrap">
                        <a href="{% url 'store' %}" class="title">Timex</a>
                    </figcaption>
                </div>
            </div> <!-- col.// -->
        </div>
    </div>
</section>

{% endblock %}

