{% extends 'base.html' %}
{% load static %}

{% block content %}



<section class="section-content padding-y bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-1 text-center">
                <p class="icon-addcart"><span><i class="icon-check"></i></span></p>
                <h2 class="mb-4">Thank you for purchasing, Your order is completed</h2>
                <div class="container">
                  <div class="row">
                      <div class="col-md-8">
                        <div class="row">
                          <table class="table table-bordered" id="Invoice_of_your_order">
                            <tbody>
                              <tr>
                              <th>Order Number:</th>
                              <td>{{ order_number }}</td>
                              {% comment %} <th>Transaction ID:</th>
                              <td>{{ payment_id }}</td> {% endcomment %}
                              </tr>
                              <!-- Include any other order-related information in the same format -->
                              <tr>
                              <th>Total Amount:</th>
                              <td>₹{{ amount }}</td>
                              </tr>

                              <tr>
                              <th colspan="2">Shipping Details</th>
                              </tr>
                              <tr>
                              <th>Name:</th>
                              <td>{{ address.name }}</td>
                              </tr>
                              <tr>
                              <th>Address Line 1:</th>
                              <td>{{ address.address_line_1 }}</td>
                              </tr>
                              <tr>
                              <th>State/City:</th>
                              <td>{{ address.state }}, {{ address.city }}</td>
                              </tr>
                              <tr>
                              <th>Country:</th>
                              <td>{{ address.country }}</td>
                              </tr>
                              <tr>
                              <th colspan="2">Contact Information</th>
                              </tr>
                              <tr>
                              <th>Email:</th>
                              <td>{{ user.email }}</td>
                              </tr>
                              <tr>
                              <th>Phone:</th>
                              <td>{{ user.phone_number }}</td>
                              </tr>
                            </tbody>
                          </table>
                          <!---table start->
                          <table class="table table-bordered" id="Invoice_of_your_order">
                            <tbody>
                              <tr>
                                 
                                <th>Order Number:</th>
                                
                                <td>{{ order_number}}</td>
                              </tr>
                              <tr>
                                <th>Total Amount:</th>
                                
                                <td>{{amount}}</td>
                              </tr>
                              <tr>
                                <th>Name:</th>
                                
                                <td>{{address.name}}</td>
                              </tr>
                              <tr>
                                <th>Address:</th>
                                
                                <td>{{address.house_name}}</td>
                              </tr>
                              <tr>
                                <th>Place:</th>
                                
                                <td>{{address.city}}</td>
                              </tr>
                            </tbody>
                          </table>
              <!- table complete -->
               {% comment %} <table class="table table-bordered" id="Invoice_of_your_order">
                    <tbody>
                        <tr>
                <td>Your Order ID : {{id}}</td>
                <td>Your Order Number : {{order_number}}</td>
                <td>Total Amount : {{amount}}</td>
                        </tr>
                      </tbody>
                    </table> {% endcomment %}
                
                <!-- <h5>Your payment method: {{payment_id}}</h5> -->
                <div class="text-center mt-3 col-6">
                    <a onclick="exportTableToPDF('Invoice_of_your_order','Invoice_of_your_order')" class="btn btn-success">Download Invoice</a>
                </div>
                    <p class="mt-3">
                        <!-- <a href="index.html"class="btn btn-primary>Home</a> -->
                        <a href="{% url 'home' %}"class="btn btn-primary "><i class="icon-shopping-cart"></i> Continue Shopping</a>
                    </p>
            </div>
        </div> 
 
            </div>
        </div>

</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.16/jspdf.plugin.autotable.min.js"></script>
 <script src="https://unpkg.com/xlsx/dist/xlsx.core.min.js"></script>
						 
					 
					 
					 
							 <script>
								 function exportTableToExcel(tableID, filename = '') {
									 console.log("ok")
								 var tableSelect = document.getElementById(tableID);
								 var sheet = XLSX.utils.table_to_sheet(tableSelect);
							 
								 // Create a new workbook and add the sheet
								 var workbook = XLSX.utils.book_new();
								 XLSX.utils.book_append_sheet(workbook, sheet, 'Sheet1');
							 
								 // Specify the file name
								 filename = filename ? filename + '.xlsx' : 'excel_data.xlsx';
							 
								 // Generate the XLSX file
								 var excelData = XLSX.write(workbook, { bookType: 'xlsx', type: 'array' });
								 var blob = new Blob([excelData], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });
							 
								 // Download the blob as a file
								 download(blob, filename);
								 }
							 
								 function download(blob, filename) {
								 var url = window.URL.createObjectURL(blob);
								 var link = document.createElement('a');
								 link.href = url;
								 link.download = filename;
								 link.click();
								 }
							 
							 
								 </script>
							 
							 
								 <!-- convert to pdf script -->
							 
							 <script>
							 
								 function exportTableToPDF(tableID, filename = '') {
								   var tableSelect = document.getElementById(tableID);
								 
								   // Specify the file name
								   filename = filename ? filename : 'order_id';
								 
								   // Generate the PDF file
								   const { jsPDF } = window.jspdf; 
								   var doc = new jsPDF();
								   doc.autoTable({ html: '#' + tableID });
								 
								   // Download the PDF file
								   doc.save(filename + '.pdf');
								 }
					 </script>





{% endblock %}
